@font-face {
    font-family: NorseBol;
    src: url(fonts/Norse-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset {
    border: 0;
}
.left-side{
    display: flex;
    position: relative;
}
.odin-headline{
    display: flex;
    position: absolute;
    top: 20vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#odin-logo,
.odin-headline{
    height: 150px;
}
#left-side-img,
.odin-headline{
    width: 500px;
}

#odin-title{
    font-family: NorseBol;
    font-size: 5rem;
    color: white;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.quote,
.submit-form,
.footer{
    margin-left: 2rem;
    width: 450px;
}
.quote{
    font-weight: bold;
    font-size: 1.2rem;
}
.submit-form{
    position: relative;
    display: flex;
    justify-content: flex-start;
}
label{
    position: absolute;
    letter-spacing: 0.1rem;
    font-size: 0.6em;
}
.top{
    bottom: 100%;
    left: 0;
}

.right-input-field{
    position: absolute;  
}
.left-input-field{
    position: absolute;  
    left: 30vh;
}

