@font-face {
    font-family: NorseBol;
    src: url(fonts/Norse-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9FAFB;

}
fieldset {
    border: 0;
}
.left-side{
    display: flex;
    position: relative;
}
.odin-headline{
    display: flex;
    position: absolute;
    top: 20vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#odin-logo,
.odin-headline{
    height: 150px;
}
#left-side-img,
.odin-headline{
    width: 500px;
}

#odin-title{
    font-family: NorseBol;
    font-size: 5rem;
    color: white;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.quote,
.submit-form,
.footer{
    margin-left: 2rem;
    width: 450px;
}
.quote{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.submit-form{
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 25vh;
    background-color: white;
    margin-left: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    box-shadow: 0 4px 2px -2px rgb(211, 211, 211);
}
label{
    position: absolute;
    letter-spacing: 0.1rem;
    font-size: 0.6em;
}
.top{
    bottom: 100%;
    left: 0;
}

.right-input-field{
    position: absolute;  
}
.left-input-field{
    position: absolute;  
    left: 30vh;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

#btn-create-account{
    height: 3rem;
    width: 10rem;
    border-radius: 0.6rem;
    border: 0;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}
#login{
    color: #596D48;
}